@model IEnumerable<SunriseAuto.Models.Type>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Vehicle Types</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                Visible picture
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-success"><i class="fa-solid fa-plus"></i> New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                <img src="@("~/image/type-logo/"+item.ImageName)" asp-append-version="true" height="50px" width="100px" style="object-fit: cover;"/>
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
